*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}
header h1{
    text-align: center;
    font-size: 40px;
    color: black;
}
header{
    padding: 40px;
    background-color:rgb(17,124,143);
}
nav{
    background-color: rgb(49, 47, 47);
    overflow: hidden;
}
nav a{
    text-decoration: none;
    padding: 20px;
    color: white;
    text-align: center;
    float: left;
}
main{
    background-color: white;
    text-align: center;
}
h2{
    padding: 20px;
}
video{
    padding: 10px;
}
image{
    padding: 10px;
}
section p{
    color:rgb(114, 106, 183);
    border: 2px solid rgb(0,0,0);
    padding: 20px;
    background-color: rgb(249, 255, 72);
    border-width: 3px;   
    font-family: Georgia, 'Times New Roman', Times, serif;
}